body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 3.3;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
    text-transform: capitalize;
}

p {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 3;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: left;
}

ul {
    list-style: none;

}

/*header*/


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 3;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;

}

.web {
    color: #212121;
}




header a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2%;
    text-decoration: none;
    color: #212121;
}

header a:hover,
header a:focus {
    color: #2196F3;
}

header .contacto .mail-cel {
    color: #757575;
    text-decoration: none;
    font-style: normal;
}

header .mail-cel:hover {
    color: #2196F3;
}

/*botones*/


button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 3%;
    padding: 6px 24px 10px 6px;
    border-radius: 4px;
    background-color: #f5f4fa;
    color: #212121;
    cursor: pointer;
    border: none;


}

button:hover {
    color: white;
    background-color: #2196F3;
}


/*cartasmosaico*/

.cards a {
    text-decoration: none;
}




/*footer*/
footer {
    background-color: #2F303A;

}



.footer .mail-cel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;

}

.footer .city {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;


}