body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}




h1 {
    font-weight: 900;
    font-size: 44px;
    font-style: normal;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    cursor: pointer;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
    color: #212121;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: uppercase;
}

h4 {
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: capitalize;
}

h5 {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}

p {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: justify;
}

ul {
    list-style: none;
}

/*header*/




.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.web {
    color: #212121;
}


header a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 2%;
    text-decoration: none;
    color: #212121;
}

header a:hover,
header a:focus {
    color: #2196F3;
}

header .contacto .mail-cel {
    color: #757575;
    text-decoration: none;
    font-style: normal;
}

header .mail-cel:hover {
    color: #2196F3;
}

/*herp*/
.hero {

    color: white;
    background-color: #2F303A;

}



button {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 32px 10px 32px;
    width: 261px;
    height: 50px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    color: white;
    background-color: #2196F3;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 255, 157);
    color: white;
}





.list-serv {

    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    background-color: white;


}

.list-serv li {

    cursor: pointer;
}

.list-serv .listimg {

    margin-bottom: 94px;

}

.listimages {

    margin-bottom: 94px;

}

.listimg h2 {
    margin-bottom: 55px;
}





.team {

    background-color: #F5F4FA;



}

.team h2 {
    padding: 5px;
    margin-top: 94px;
}



.listteam li {
    margin-right: 37px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 30px;
    cursor: pointer;

}

.listteam .content {
    padding: 10px;
    margin: 0;
}

.listteam li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*footer*/

footer {
    background-color: #2F303A;

}

.footer .logo {
    padding: 30px;
    text-decoration: none;
    color: #2196F3;
}

.footer .mail-cel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;

}

.footer .city {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;


}